/*
* {
	outline: 1px solid red;

}*/

body, html {
	height: 100%;
	margin: 0;
	background: #DDD;
}


.content {

}

.content p {
	padding: 15px 0px;
}

.header {
	height: 102px;
}

.footer {
	margin: 18px 0;
	height: 99px;
}

.container {
	width: 556px;
	background: #fff;
	margin: 0 auto;
	height: 100%;
	padding: 15px;
	overflow: auto;
}

.bottom {
	width: 100%;
	height: 234px;
}

.box {
	width: 170px;
	height: 102px;
	margin-right: 23px;
	float: left;
}

.box-small {
	width: 150px;
	height: 100%;	
}

.box-last {
	width: 170px;
	height: 102px;
	float: left;
}

.float-left {
	float: left;
}

.blue {
	background: #ff0000;
}

.red {
	background: #4A90E2;
}

.gray {
	background: #4A4A4A;
}

.col-sidebar {
	width: 181px;
	height: 100%;
	float: left;
}

.col-content {
	width: 375px;
	height: 100%;
	float: left;
}


